In [58]:
#unsupervised learning problem

In [59]:
import pandas as pd
import numpy as np

In [83]:
books=pd.read_csv("BX-Books.csv",sep=';',error_bad_lines=False,encoding='latin-1')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [84]:
books.head()

         ISBN  ...                                        Image-URL-L
0  0195153448  ...  http://images.amazon.com/images/P/0195153448.0...
1  0002005018  ...  http://images.amazon.com/images/P/0002005018.0...
2  0060973129  ...  http://images.amazon.com/images/P/0060973129.0...
3  0374157065  ...  http://images.amazon.com/images/P/0374157065.0...
4  0393045218  ...  http://images.amazon.com/images/P/0393045218.0...

[5 rows x 8 columns]

In [85]:
users=pd.read_csv("BX-Users.csv",sep=';',error_bad_lines=False,encoding='latin-1')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [63]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [64]:
users.rename(columns={'User-ID':'user_id','Location':'location','Age':'age'},inplace=True)

In [65]:
users.head(2)

   user_id                   location   age
0        1         nyc, new york, usa   NaN
1        2  stockton, california, usa  18.0

In [66]:
ratings=pd.read_csv("BX-Book-Ratings.csv",sep=";",error_bad_lines=False,encoding='latin-1')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [67]:
ratings.head(2)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5

In [68]:
ratings.rename(columns={'User-ID':'user_id','Book-Rating':'book-rating'},inplace=True)

In [69]:
ratings.head(2)

   user_id        ISBN  book-rating
0   276725  034545104X            0
1   276726  0155061224            5

In [70]:
books.shape

(228148, 1)

In [71]:
 users.shape

(278858, 3)

In [72]:
ratings.shape

(1149780, 3)

In [73]:
ratings.head()

   user_id        ISBN  book-rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [74]:
x=ratings['user_id'].value_counts()>200

In [78]:
y=x[x].index

In [79]:
y

Int64Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352,
            110973, 235105,
            ...
            260183,  73681,  44296, 155916,   9856, 274808,  28634,  59727,
            268622, 188951],
           dtype='int64', length=899)

In [80]:
ratings=ratings[ratings['user_id'].isin(y)]

In [81]:
ratings.shape

(526356, 3)

In [97]:
bk=ratings.merge(books,on='ISBN')

In [101]:
ratings_with_books=bk[['user_id','ISBN','book-rating','Book-Title','Book-Author','Year-Of-Publication','Publisher']]

In [102]:
ratings_with_books.head(2)

   user_id        ISBN  ...  Year-Of-Publication                  Publisher
0   277427  002542730X  ...                 1994  John Wiley &amp; Sons Inc
1     3363  002542730X  ...                 1994  John Wiley &amp; Sons Inc

[2 rows x 7 columns]

In [103]:
ratings_with_books.shape

(487671, 7)

In [104]:
number_rating=ratings_with_books.groupby('Book-Title')['book-rating'].count().reset_index()

In [105]:
number_rating

                                               Book-Title  book-rating
0        A Light in the Storm: The Civil War Diary of ...            2
1                                   Always Have Popsicles            1
2                    Apple Magic (The Collector's series)            1
3        Beyond IBM: Leadership Marketing and Finance ...            1
4        Clifford Visita El Hospital (Clifford El Gran...            1
...                                                   ...          ...
160264  Ã?Â?ber die Pflicht zum Ungehorsam gegen den S...            3
160265                                      Ã?Â?lpiraten.            1
160266                     Ã?Â?rger mit Produkt X. Roman.            1
160267                              Ã?Â?stlich der Berge.            1
160268                                  Ã?Â?thique en toc            1

[160269 rows x 2 columns]

In [106]:
number_rating.rename(columns={'book-rating':'Number of ratings'},inplace=True)

In [107]:
number_rating.head(2)

                                          Book-Title  Number of ratings
0   A Light in the Storm: The Civil War Diary of ...                  2
1                              Always Have Popsicles                  1

In [108]:
final_rating=ratings_with_books.merge(number_rating,on='Book-Title')

In [109]:
final_rating.head(2)

   user_id        ISBN  ...                  Publisher Number of ratings
0   277427  002542730X  ...  John Wiley &amp; Sons Inc                82
1     3363  002542730X  ...  John Wiley &amp; Sons Inc                82

[2 rows x 8 columns]

In [110]:
 final_rating.shape

(487671, 8)

In [112]:
final_rating=final_rating[final_rating['Number of ratings']>=50]

In [115]:
final_rating.drop_duplicates(['user_id','Book-Title'],inplace=True)

In [116]:
final_rating.shape

(59850, 8)

In [117]:
book_pivot=final_rating.pivot_table(columns='user_id',index='Book-Title',values='book-rating')

In [118]:
book_pivot

user_id                                             254     ...  278418
Book-Title                                                  ...
1984                                                   9.0  ...     NaN
1st to Die: A Novel                                    NaN  ...     NaN
2nd Chance                                             NaN  ...     NaN
4 Blondes                                              NaN  ...     NaN
84 Charing Cross Road                                  NaN  ...     NaN
...                                                    ...  ...     ...
Year of Wonders                                        NaN  ...     NaN
You Belong To Me                                       NaN  ...     NaN
Zen and the Art of Motorcycle Maintenance: An I...     NaN  ...     NaN
Zoya                                                   NaN  ...     NaN
\O\" Is for Outlaw"                                    NaN  ...     NaN

[742 rows x 888 columns]

In [119]:
book_pivot.fillna(0,inplace=True)

In [121]:
book_pivot

user_id                                             254     ...  278418
Book-Title                                                  ...
1984                                                   9.0  ...     0.0
1st to Die: A Novel                                    0.0  ...     0.0
2nd Chance                                             0.0  ...     0.0
4 Blondes                                              0.0  ...     0.0
84 Charing Cross Road                                  0.0  ...     0.0
...                                                    ...  ...     ...
Year of Wonders                                        0.0  ...     0.0
You Belong To Me                                       0.0  ...     0.0
Zen and the Art of Motorcycle Maintenance: An I...     0.0  ...     0.0
Zoya                                                   0.0  ...     0.0
\O\" Is for Outlaw"                                    0.0  ...     0.0

[742 rows x 888 columns]

In [122]:
from scipy.sparse import csr_matrix
book_sparse=csr_matrix(book_pivot)

In [124]:
print(book_sparse)

  (0, 0)	9.0
  (0, 16)	8.0
  (0, 37)	9.0
  (0, 42)	8.0
  (0, 59)	7.0
  (0, 135)	9.0
  (0, 156)	10.0
  (0, 170)	9.0
  (0, 187)	8.0
  (0, 220)	10.0
  (0, 221)	10.0
  (0, 245)	10.0
  (0, 277)	10.0
  (0, 359)	10.0
  (0, 370)	9.0
  (0, 389)	10.0
  (0, 477)	9.0
  (0, 491)	7.0
  (0, 507)	9.0
  (0, 554)	10.0
  (0, 604)	9.0
  (0, 611)	8.0
  (0, 695)	9.0
  (0, 734)	9.0
  (0, 762)	8.0
  :	:
  (740, 484)	8.0
  (740, 681)	9.0
  (741, 16)	8.0
  (741, 26)	7.0
  (741, 86)	10.0
  (741, 111)	5.0
  (741, 150)	6.0
  (741, 233)	7.0
  (741, 290)	8.0
  (741, 303)	9.0
  (741, 322)	10.0
  (741, 367)	10.0
  (741, 384)	9.0
  (741, 446)	7.0
  (741, 450)	9.0
  (741, 485)	7.0
  (741, 498)	10.0
  (741, 505)	8.0
  (741, 544)	10.0
  (741, 592)	8.0
  (741, 700)	10.0
  (741, 713)	8.0
  (741, 745)	10.0
  (741, 830)	9.0
  (741, 880)	8.0

In [125]:
from sklearn.neighbors import NearestNeighbors
model=NearestNeighbors(algorithm='brute')

In [126]:
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [127]:
distances,suggestions=model.kneighbors(book_pivot.iloc[237,:].values.reshape(1,-1),n_neighbors=6)

In [128]:
distances

array([[ 0.        , 68.78953409, 69.5413546 , 72.64296249, 76.83098333,
        77.28518616]])

In [129]:
suggestions

array([[237, 240, 238, 241, 184, 536]])

In [135]:
for i in range(len(suggestions)):
   print(book_pivot.index[suggestions[i]])

Index(['Harry Potter and the Chamber of Secrets (Book 2)',
       'Harry Potter and the Prisoner of Azkaban (Book 3)',
       'Harry Potter and the Goblet of Fire (Book 4)',
       'Harry Potter and the Sorcerer's Stone (Book 1)', 'Exclusive',
       'The Cradle Will Fall'],
      dtype='object', name='Book-Title')

In [137]:
np.where(book_pivot.index=='Animal Farm')[0][0]

54

In [140]:
def recommend_book(book_name):
  book_id=np.where(book_pivot.index==book_name)[0][0]
  distances,suggestions=model.kneighbors(book_pivot.iloc[book_id,:].values.reshape(1,-1),n_neighbors=6)
  for i in range(len(suggestions)):
    print(book_pivot.index[suggestions[i]])

In [142]:
print(recommend_book('Harry Potter and the Chamber of Secrets (Book 2)'))

Index(['Harry Potter and the Chamber of Secrets (Book 2)',
       'Harry Potter and the Prisoner of Azkaban (Book 3)',
       'Harry Potter and the Goblet of Fire (Book 4)',
       'Harry Potter and the Sorcerer's Stone (Book 1)', 'Exclusive',
       'The Cradle Will Fall'],
      dtype='object', name='Book-Title')
None